.DS_Store
node_modules
QuirkbotArduinoHardware
QuirkbotArduinoHardware.zip
quirkbot-arduino-hardware
quirkbot-arduino-hardware.zip
quirkbot-arduino-hardware-*
quirkbot-avr.tar.bz2
s3_publish
aws-config
